data/**/*.wav
data/**/*.flac
data/**/*.mp3
data/**/*.m4a
data/**/*.ogg
!data/**/.gitkeep
data/mixed/
data/mt/flores200_dataset.tar.gz
data/mt/raw/
outputs/
__pycache__/
*.pyc
.ipynb_checkpoints/
third_party_zipformer/
*.onnx
*.onnx.json
.venv/
.DS_Store
token-optimizer/
*.log
*_logs.txt/
*_err*.txt/
*_log.txt/
*_prof_log.txt/
job_logs.txt/
vec_est_inf_err.txt/
